numpy
pandas
scipy
scikit-learn

rasterio
rioxarray
xarray
geopandas
shapely
pyproj

matplotlib

timm
segmentation-models-pytorch
albumentations
torchmetrics
einops

huggingface-hub
safetensors

pyyaml
tqdm
tensorboard

pytest
pytest-cov

jupyterlab
ipykernel
